/* GLOBAL */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0b001a;
color:white;
}

/* CARD SYSTEM */
.box,.card,.profile{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
border-radius:15px;
padding:20px;
box-shadow:0 0 20px #a100ff;
}

/* BUTTON */
button{
padding:12px;
border:none;
border-radius:10px;
background:linear-gradient(45deg,#6d00ff,#c800ff);
color:white;
cursor:pointer;
}

/* INPUT */
input{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#1a0033;
color:white;
}
